{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}